

/* @font-face {
  font-family: "Komrade";
  src: local("Komrade"),
  url(../../static/fonts/Gilroy-Regular.otf) format("opentype");
  font-weight: 400;
} */

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  /* 
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */

  margin: 0;

  --colour-primary: #31468D;
  --colour-secondary: #F2BA31;
  --colour-tertiary: #BD6F53;
  --colour-four: #25326E;
  --colour-five: #7A695D;
  --colour-six: #DD3A4B; /*red - - add semantic name?*/



  /* --main-bg-color: #1d0921; */
  --main-bg-color: var(--colour-four);
  --secondary-bg-color: pink;
  --primary-text-color: #ffffffde;
  
  /* --secondary-text-color: #ffaa00; */
  --secondary-text-color: var(--colour-secondary);


  background-color: var(--main-bg-color);

}

body {
  margin: 0;
  color: var(--primary-text-color);

}

h1 {
  font-family: 'Carbon';
  color: var(--secondary-text-color);
  font-size: min(9vw, 62px);
}
/* h1.one {
  font-family: 'Carbon';
}
h1.two {
  font-family: 'Globe';
}
h1.three {
  font-family: 'Orbit';
} */

p {
  margin: 0;
}

section {
  padding: 12px 24px;
}

.container {
  /* background-color: var(--secondary-bg-color); */
  /* border: 1px solid white; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 580px;
  margin: auto;
  position: relative;
}

button {
  max-width: fit-content;
  font-size: 18px;
  padding: 4px 6px;
  line-height: 1;
  border-radius: 6px;

  background-color: var(--colour-secondary);
  color: var(--colour-primary);
  border: 1px solid var(--colour-primary);
}

button:hover {
    background-color: var(--colour-primary);
    color: var(--colour-secondary);
    border: 1px solid var(--colour-secondary);
    cursor: pointer;
}
button:disabled {
    background-color: var(--colour-five);
    color: var(--colour-secondary);
    border: 1px solid var(--colour-secondary);
    cursor:default;
}

button.ltud-btn--small {
  background: var(--colour-six);
  height: 26px;
    width: 26px;
    line-height: 13px;
    border-radius: 13px;
    max-width: none;

    border: 1px solid var(--colour-secondary);
}

button.ltud-btn--large {
  font-family: 'Carbon';
  font-size: min(7vw, 42px);
  border-radius: 19px;
  padding: 4px 19px;
  border: 2px #BD6F53 solid; /* sort out var name */
}

.ltud-message {
  padding-top: 6px;
  display: block;
}

.ltud-message.ltud-message--is-warning {
  color: var(--colour-six);
  font-style: italic;
  font-size: 14px;
}

header {
  /* background-color: palegreen; */
  /* border: 1px solid white; */
  text-align: center;
}



footer {
  margin-top: auto;
  /* background-color: palegoldenrod; */
  /* border: 1px solid white; */
}

/* Stars 
------------------------------------- */

#space, .stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars {
  background-image: 
    radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: zoom 5s infinite;
  opacity: 0;
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s;
}
.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 1s;
}
.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: 2s;
}
.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: 3s;
}
.stars:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: 4s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  } 
  85% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}



